/FE_DATA/
/etc/
/BACKUPS/
.vscode/
/MOBO/TEST/
__pycache__/
/BO_test.py
/MFMOBO/backups/
/FECalc/test/
/FECalc/__pycache__/
testbench_FECalc.py
/submissions/
/*.out
/3d_int_test.*
*.py[cod]
/MFMOBO/*.out
/MFMOBO/old_runs
/MFMOBO/results
/MFMOBO/testkernel
/MFMOBO/.ipynb_checkpoints
/MFMOBO/run_jup.sh
/MFMOBO/MOBO.log
/PCCbind/*.out
/PCCbind/submissions